<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
     
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    </head>
    <body style="margin: 5%;font-family: Arial;font-size: 20px;">
        <div style="text-align:center;">
           <p> <h3><b>TS-bPASS<br>
            Government of Telangana</b></h3></p><br><br>

        </div>
        <div style="text-align:right;">
            <p> CEO TS-bPASS<br>
            Building complex,<br>
            opp. PTI building, Red Hills,<br>
            Lakdikapul, Hyderabad,<br>
            Telangana, 500004</p>
            <br><br><br>
        </div>
        
        
        
        <p><strong>Date:</strong> 2022-05-02 </p><br>
        
        <p><strong>sub:</strong> TS-bPASS -- Intimation for processing the applications due for deemed approval<br></p>
       
           
                <p><strong>Ref:</strong><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Telangana Municipalities act 2019.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. TSbPASS Act 2020.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. TS-bPASS Application Numbers as given below.<br><br></p>
        <p>Dear ayush mohril</p>
        <p>This is to bring to your notice that the following applications would be taken up for Deemed approval within the next 3 business days. Request you to ensure that these applications are processed from your end at the earliest. List of these applications are provided hereunder-</p><br><br>

        
            
              <strong>50</strong>,&nbsp;
            
              <strong>23</strong>,&nbsp;
            
              <strong>4453</strong>,&nbsp;
            
              <strong>37464</strong>,&nbsp;
            <br>
        
        
            
              <strong>8476876</strong>,&nbsp;
            
              <strong>76869769</strong>,&nbsp;
            
              <strong>87678765</strong>,&nbsp;
            
              <strong>76547654</strong>,&nbsp;
            <br>
        
        
            
              <strong>76585458756</strong>,&nbsp;
            
              <strong>86t76</strong>,&nbsp;
            <br>
        
        
        <br>
        <p>Thanks and Regards,</p>
        <div>
           <div style="text-align: right;">
               <p> <img  alt="" style="float:right"src="../static/image1.png" width="50" height="50"></p>
                <p style="clear: both">Digitally signed by <br>
                Bighnaraj Misra<br>
                Project Manager<br>
                TS-bPASS</p>
            </div>
        </div>
    </body>
</html>